* {
   margin: 0;
   padding: 0;
}

.header {
   background-color: rgb(255, 255, 255);
   height: 80px;
   display: flex;
}

.header nav {
   width: calc(100% - 180px);
   height: 80px;
   background-color: transparent;
   display: inline-flex;
}

/*                   menu bar menu bar menu bar                               */


.header .btn_toggle_nav {
   width: 70px;
   height: 100%;
   background-color: #ffffff2a;
   background-image: url(./icons/hambuger.png);
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center;
   cursor: pointer;
   /* border-radius: 0px; */
}

.header .btn_toggle_nav:hover {
   background-size: 40%;
   transition: all 0.1s ease-in-out;
   background-color: #24218b41;
}

.header .side {
   width: 180px;
   height: 50px;
   background-color: transparent;
   margin-top: 15px;
}

.header .side .top-btn {
   width: 150px;
   padding: none;
   margin-top: 5px;
   height: 40px;
   text-align: center;
   font-size: small;
   color: white;
   text-transform: capitalize;


}

.nav_sidebar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 0px;
   padding: 0 5px;
   height: calc(100vh - 80px);
   background-color: #24218bf6;
   z-index: 1000;
   transition: all 0.4s ease-in-out;
   visibility: hidden;
}

.nav_sidebar ul {
   padding-top: 15px;
   overflow: hidden;
   visibility: hidden;
}

.nav_sidebar ul li {
   line-height: 60px;
   list-style: none;
}

.nav_sidebar ul li a,
.nav_sidebar ul li span {
   display: block;
   height: 60px;
   padding: 0 10px;
   text-decoration: none;
   text-transform: uppercase;
   color: azure;
   font-size: 16px;
   white-space: nowrap;
   opacity: 0;
   transition: all 0.4s ease-in-out;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* menu bar*/
.header nav ul {
   list-style-type: none;
   margin-left: 1px;
}

.header nav ul li {
   list-style: none;
   line-height: 80px;
   display: inline-block;
   margin-left: 30px;
}

.header nav ul li a {
   text-transform: uppercase;
   text-decoration: none;
   font-size: 16px;
   color: #0800ff85;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.header nav ul li a:hover {
   color: #221f6efa;
   transition: 0.2s ease-in-out;
   font-size: 15.9px;

}

/* index */
.main {
   background-color: #ffffff;
   width: 100%;
   height: inherit;
}


.main .container {
   width: 100%;
   height: inherit;
   background-color: #ffffff;
   margin: auto;
}

.main .container .apointment {
   width: 100%;
   height: 100vh;

}

.main .container .index_top_cont {
   width: 100%;
   height: 90vh;
   background-image: linear-gradient(#ffffffd3, #ffffffd3), url(./images/people_run.jpg);
   background-position: center;
   background-size: cover;
   background-color: rgb(255, 255, 255);
   background-repeat: no-repeat;
   display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main .container .index_top_cont .main_logo{
   width: 50%;
   height: 90vh;
   background-image: url(./icons/logo.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;

}
.main .container .index_top_cont .mainh{
   width: 50%;
   height: auto;
   background-image: url(./icons/WELCOME.png);
   background-repeat: no-repeat;
   background-size: center;
   /* width: 50%;
   height: 90vh; */
   /* text-align: left;
   font-size: 30px;
   margin-left: 0;
   line-height: 500px;
   color: rgb(16, 0, 165);
   text-transform: uppercase; */
}

.main .container .index_top_cont .title_img1,
.main .container .index_top_cont .title_img2,
.main .container .index_top_cont .title_img3 {
   margin: auto;
   width: 50%;
   height: 90vh;
   /* background-color: #109fff;
    */
    background-position: cover;
    background-repeat: no-repeat;
}
.main .container .index_top_cont .title_img1{
   background-image: url(./icons/APPOINT.png);
}
.main .container .index_top_cont .title_img2{
   background-image: url(./icons/contact.png);
}
.main .container .index_top_cont .title_img3{
   background-image: url(./icons/SERVICES.png);
}

.main .container .index_top_cont .title_img p{
   text-align: right;
   font-size: larger;
}
.main .container .index_top_cont p{
   color: #e9780e;
}

.main .container .index_top_cont div {
   display: flex;
}

.main .container .index_top_cont div img {
   width: 500px;
   height: 500px;
   margin-left: 0;
}

/* .index_middle_cont */

.main .container .index_middle_cont {
   width: 100%;
   height: 110vh;
   background-color: rgb(255, 255, 255);
   display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main .container .index_middle_cont img {
   width: 600px;
   height: 500px;
   margin: 50px 10px 30px 50px;
   border-radius: 10px;


}

.main .container .index_middle_cont .p {
   padding: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main .container .index_middle_cont .p .p1,
.main .container .index_middle_cont .p .p2,
.main .container .index_middle_cont .p .p3,
.main .container .index_middle_cont .p .p4 {
   color: rgb(65, 63, 61);
   border-bottom: 3px solid rgb(196, 116, 196);
   padding-bottom: 20px;
   margin-top: 30px;

}

.main .container .index_down_cont {
   width: 100%;
   height: 350px;
   background-color: transparent;
   /* display: block; */
   padding-top: 20px;
   padding-bottom: 20px;
}

/* .index_down_cont video gallery */

.wrapper-video {
   margin: 0 1vw;
}

#index-video {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   gap: 10px;
   grid-template-areas:
      /* "h3 h3 h3 h3 h3" */
      "img1 img2 img3 img4 img5";
}

#index-video .video-thumb {
   width: 100%;
   height: 350px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   cursor: pointer;
}
#index-video .video-thumb:hover {
   box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.267);
   transition: 900ms;
   float: 0;
   transform: translateY(-10px);
}

/* #index-gallery .img1{
   grid-area: gallery-h3;
} */
#index-video .img1 {
   grid-area: img1;
   background-image: url(./images/1.jpg);
}

#index-video .img2 {
   grid-area: img2;
   background-image: url(./images/1\ \(1\).jpg);
}

#index-video .img3 {
   grid-area: img3;
   background-image: url(./images/1\ \(2\).jpg);
}

#index-video .img4 {
   grid-area: img4;
   background-image: url(./images/1\ \(3\).jpg);
}

#index-video .img5 {
   grid-area: img5;
   background-image: url(./images/1\ \(4\).jpg);
}

.video-thumb div {
   width: 100;
   height: 100%;
   background-color: black;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.video-thumb a {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   color: azure;
   text-decoration: none;
   text-transform: uppercase;
}

.video-thumb div:hover {
   opacity: 0.7;
   transition: all ease-in-out 100ms;
}


/* other */


.main .container h3 {
   text-align: center;
   padding: 10px 0 10px 0;
   font-size: 40px;
   font-weight: bolder;
   text-transform: uppercase;
   color: #ffffff;

}

.main .container p {
   text-align: center;
   font-size: 17px;
   color: #ffffff;
}

.main .container .buts {
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin: auto;
   margin-top: 40px;

}

button {
   width: 40%;
   height: 49px;
   margin: 10px 10px 10px 12px;
   border: none;
   background-image: linear-gradient(to right, #593bdf, #109fff);
   border-radius: 15px;
}

button a {
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
   background-image: linear-gradient(to right, #6745ff,#6745ff);
   transition: 0.5s ease;
}

/* footer footer */
/* FOOTER FOOOTER TAB FOOTER TAB FOOTER TAB */



.footer {
   background-color: rgb(0, 136, 255);
   width: 100%;
   height: auto;
   /* border-top: 1.6px solid #e4e0e0a6; */
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .footer-content {
   width: 100%;
   height: 190px;
   background-color: honeydew;
   display: flex;
}

.footer .footer-img {
   width: 40%;
   height: 190px;
   background-color: aliceblue;
}

.footer .footer-content img {
   width: 180px;
   height: 180px;
   margin-left: 40px;
   margin-right: 40px;
}

.footer .footer-links {
   width: 60%;
   height: 190px;
   background-color: aliceblue;
}

.footer .footer-links .links {
   width: 50%;
   margin: auto;
   height: 100px;
   margin-top: 50px;
   background-color: aliceblue;
}

.footer .footer-links .links ul {
   list-style: none;
   background-color: aliceblue;
}

.footer .footer-links .links ul li {
   display: inline;
   text-align: center;
   margin-bottom: 10px;
   background-color: aliceblue;
   line-height: 100px;
   border-left: 3px solid rgb(42, 22, 150);
   margin-left: 10px;
}

.footer .footer-links .links ul li:hover {
   border-color: #f0a10fd3;
   transition: all 0.2s ease-in-out;
}

.footer .footer-links .links ul a {
   text-transform: uppercase;
   text-decoration: none;
   margin-left: 5px;
   color: rgb(42, 22, 150);
}

.footer .footer-links .links ul a:hover {
   color: #f0a10fd3;
}

.footer .footer-icons {
   width: 100%;
   height: 100px;
   background-color: aliceblue;
   padding-top: 10px;
   display: flex;

}

.footer .footer-icons .icons {
   width: 80%;
   height: 90px;
   background-color: transparent;
}

.footer .footer-icons .icons .is {
   width: fit-content;
   height: 70px;
   padding-top: 20px;
   background-color: transparent;

} 

.footer .footer-icons .icons a {
   margin-left: 40px;
   text-decoration: none;
   color: #715ccfe7;
}
.footer .footer-icons .icons .aa{
   margin-left: 10px;
}


.footer .footer-icons .icons a:hover {
   color: #e4931acc;
   transition: all 0.1s ease-in-out;
}

.footer .footer-icons .icons-support {
   width: 20%;
   height: 70px;
   padding-top: 20px;
   background-color: transparent;
}

.footer .footer-icons .icons-support a {
   margin-left: 60px;
}

.footer .footer-icons .icons-support button {
   text-transform: uppercase;
   color: white;
   height: 40px;

}







/* .footer .rec_info .content {
   width: 95%;
   height: 190px;
   background-color: honeydew;
   margin: auto;
   margin-top: 5px;
} */
/* .footer .rec_info .content p1 {
   font-weight: bold;
   font-size: large;
}

.footer .rec_info .content p {
   font-size: small;
} */


.footer .signature {
   width: 100%;
   height: 30px;
   background-color: #fff;
   text-transform: capitalize;
   border-top: 0.6px solid aliceblue;
}

.footer .signature p {
   text-align: right;
   font-size: 10px;
   margin-right: 90px;
   margin-top: 10px;


}

.main .container .onebut {
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin-top: 20px;

}

/* the appointment styling   the appointment styling  the appointment styling */
/* the appointment styling   the appointment styling  the appointment styling */
/* the appointment styling   the appointment styling  the appointment styling */

.main .container .apointment {
   background-color: rgb(255, 255, 255);
   width: 100%;
   height: 100vh;
   display: flex;
}

.main .container .apointment .apointment-img {
   width: 615px;
   height: 461px;
   background-image: url(./icons/Humaaans\ -\ 1\ Character.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   margin-top: 20px;
}

.main .container .apointment .apoint {
   width: auto;
   height: inherit;
   background-color: rgb(170, 66, 66);
}

.main .container .apointment .apoint h3 {
   text-align: left;
   padding-left: 10px;
   font-size: 36px;
   color: #141313;
   margin-top: 120px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
}

.main .container .apointment .apoint p {
   padding: 10px;
   color: black;
   text-align: left;
}

.main .container .apointment .onebut .onebutton {
   color: white;
   font-weight: bold;
   text-transform: uppercase;
}

/* about tab about tab about about  */

.main .container .about-tab {
   width: 90%;
   height: fit-content;
   background-color: transparent;
   margin: auto;
   padding: 30px;
}
.main .container .about-tab h1{
   color: rgb(216, 157, 29);
   margin-top: 20px;
   font-weight: bold;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;

}
.main .container .about-tab .about {
   width: 100%;
   height: fit-content;
   margin-top: 20px;
   /* padding: 30px; */
   background-color: #cec9c970;
   font-family: Arial, Helvetica, sans-serif;
}
.main .container .about-tab .about p{
   padding: 20px;
   font-size: 18px;
   text-align: left;
   color: #141313;
   font-family: Arial, Helvetica, sans-serif;


}
/* SOCIAL SOCIAL TAB SOCIAL TAB SOCIAL TAB */

.main .container .social-tab {
   width: 90%;
   height: fit-content;
   margin: auto;
   padding: 30px;
   background-color: transparent;
}

.main .container .social-tab .cont {
   width: 100%;
   height: 300px;
   background-color: transparent;
   padding: 10px;
   /* overflow: scroll; */
   display: flex;
}

.main .container .social-tab .cont .icn {
   width: 30%;
   height: 300px;
   background-color: transparent;
}

.main .container .social-tab .cont .icn-info {
   width: 70%;
   height: 300px;
   /* background-color: #e4dfdf; */
   /* margin-left: 10%; */
}
.main .container .social-tab .cont .icn0{
   /* background-color: #f3babe; */
   /* border-bottom: 3px solid #f3babe; */
   box-shadow: 0px 0px 13px 0px inset #f3babeb7;
}
.main .container .social-tab .cont .icn1{
   background-color: #AAe0f3;
}
.main .container .social-tab .cont .icn2{
   background-color: #Abdbb0;
}
.main .container .social-tab .cont .icn3{
   background-color: #d3daf7;
}

.main .container .social-tab .cont .icn-info p {
   padding: 20px;
   font-size: 18px;
   text-align: left;
   color: #141313;
   font-family: Arial, Helvetica, sans-serif;
}

/* ICONS ICONS ICONS */

.main .container .social-tab .cont .i1 {
   background-image: url(./files/youtube-shadow.png);
   background-position: center;
   background-size: 70%;
   background-repeat: no-repeat;
   width: 30%;
   height: 300px;
}

.main .container .social-tab .cont .i2 {
   background-image: url(./files/twitter-shadow.png);
   background-position: center;
   background-size: 70%;
   background-repeat: no-repeat;
   width: 30%;
   height: 300px;
}

.main .container .social-tab .cont .i3 {
   background-image: url(./files/whatsapp-shadow.png);
   background-position: center;
   background-size: 70%;
   background-repeat: no-repeat;
   width: 30%;
   height: 300px;
}

.main .container .social-tab .cont .i4 {
   background-image: url(./files/email.png);
   background-position: center;
   background-size: 70%;
   background-repeat: no-repeat;
   width: 30%;
   height: 300px;
}



.main .container .social_cont h1 {
   text-transform: uppercase;
   font-family: "Rubik", sans-serif;
   margin-top: 40px;
}

.main .container .social_cont div p {
   font-size: 18px;
   color: #141313;
   font-family: "Rubik", sans-serif;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* .main .container .social_cont .cont1,
.main .container .social_cont .cont2,
.main .container .social_cont .cont3,
.main .container .social_cont .cont4,
.main .container .social_cont .cont5,
.main .container .social_cont .cont6 {
   width: 97%;
   height: 50vh;
   margin: auto;
   background-color: rgba(0, 0, 255, 0.507);
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   display: flex;
} */

/* styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form
styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form */
/* styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form*/

.holder {
   width: 90%;
   height: auto;
   margin: auto;
   border: none;
   border-radius: 5px;
   /* background-image: linear-gradient(#ffffffc4, #ffffffcb), url(./images/people_run.jpg); */
   /* background-image: url(./icons/form_bg.png); */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;

}

.holder form {
   width: 500px;
   margin: auto;
   height: auto;
   background-color: #fffffffb;
   border-radius: 10px;
   box-shadow: 2px 2px 1.25px 3px rgba(0, 0, 0, 0.062);
   padding-left: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main .snd_rqst_container {
   width: 99.9%;
   height: 120vh;
   /* background-color: #ffffff; */

background-image: url(./icons/form_bg.png);
background-repeat: no-repeat;
background-position: cover;

   margin: auto;
   padding-top: 40px;
   border-top: 2px solid #24218bf6;

}

.main .snd_rqst_container .holder form .error {
   text-transform: capitalize;
   color: #f31717;
}


.holder form p {
   text-align: center;
   font-size: small;
   color: rgb(0, 0, 0);
   font-weight: bold;
   padding-top: 20px;
   text-transform: uppercase;
}

.holder form fieldset {
   float: left;
   height: 60%;
   line-height: 60px;
   border: none;
   margin-right: 10px;
   margin-left: 10px;
   font-size: small;

}

.holder form input {
   width: 50%;
   height: 30px;
   margin-top: 22px;
   background-color: rgba(104, 34, 34, 0);
   border: 0.05px solid #211f6e59;
   border-radius: 5px;
   padding: 2px;
   box-shadow: 1px 1px 1.25px 1px inset rgba(0, 0, 0, 0.158);
   font-size: small;

}

.holder form input:focus {
   outline: none;
   border: 2px solid #1aa3ff8c;
   background-color: #241deb34;

}

.holder form button {
   width: 34%;
   height: 35px;
   margin-top: 30px;
   text-transform: uppercase;
   background-image: linear-gradient(to right, #6745ff, #1aa3ff);
   border-radius: 5px;
   border: none;
   font-size: 12px;
   font-weight: bold;
   color: white;


}

.holder form button:hover {
   background-image: linear-gradient(to right, #593bdf, #109fff);

}

.main .container1 {
   width: 99.9%;
   height: 430vh;
   background-color: rgb(255, 255, 255);
   margin: auto;
   padding-top: 40px;
}

.main .container1 h1 {
   text-align: center;
   padding: 10px 0 10px 0;
   font-size: 20px;
   font-weight: bolder;
   text-transform: uppercase;
   color: #660707;
}



.main .container1 .leftmain {
   width: 68%;
   height: inherit;
   float: left;
   background-color: rgb(255, 255, 255);

}

.main .container1 .leftmain .service1,
.main .container1 .leftmain .service2,
.main .container1 .leftmain .service3,
.main .container1 .leftmain .service4,
.main .container1 .leftmain .service5 {
   width: 95%;
   height: 80vh;
   /* background-color: #ffffff; */
   background-position: center;
   background-size: 60%;
   background-repeat: no-repeat;

   margin: auto;
   padding: 5px;
   margin-bottom: 9px;
   border-bottom: 7px solid burlywood;
   box-shadow: 1px 1px 1.25px 1px rgba(0, 0, 0, 0.158);
   /* overflow: scroll; */
}
.main .container1 .leftmain .service1{
   background-image: url(./icons/study_abroad.png);
}
.main .container1 .leftmain .service2{
   background-image: url(./icons/scholarship.png);
}
.main .container1 .leftmain .service3{
   background-image: url(./icons/imigration.png);
}
.main .container1 .leftmain .service4{
   background-image: url(./icons/visa_issue.png);
}
.main .container1 .leftmain .service5{
   background-image: url(./icons/other.png);
}

.main .leftmain h2 {
   text-transform: uppercase;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main .container1 .leftmain p {
   text-align: left;
   font-size: 18px;
   color: black;
   /* background-color: #109fff; */
   padding: 20px;
   line-height: 24px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .container1 .rightlinks {
   width: 28%;
   height: 200vh;
   float: right;
   background-color: rgb(255, 255, 255);
   padding: 8px;
   border-left: 3px solid gray;
   /* overflow: scroll; */

}

.main .container1 .rightlinks h1 {
   font-size: 20px;

}

.main .container1 .rightlinks ul {
   background-color: transparent;
   width: 99%;
   margin: auto;
   list-style: none;

}

.main .container1 .rightlinks ul li {
   text-align: center;
   text-transform: uppercase;
   margin-top: 15px;
}

.main .container1 .rightlinks ul li a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: 19px;
}

.main .container1 .rightlinks ul li a:hover {
   color: #f3bf30;
}

.clickhere {
   color: #6745ff;
   text-transform: capitalize;
}


/* REQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGE
REQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGE
REQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST SENT PAGEREQUEST */
*{
   margin: 0;
   padding: 0;
}
.maining{
   width: 98%;
   height: 99vh;
   padding: 1%;
   background-color: #ffffff;
}
.maining .maning{
   margin: auto;
   /* width: 550px; */
   width: 40%;
   margin-top: 90px;
   padding: 10px;
   height: 400px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0.5px 1px 4px 2px rgb(230, 226, 226);
   border-radius: 10px;
}
.maning .icning {
   width: 100%;
   height: 210px;
   /* background: #f0ecec; */
   background-image: url(./icons/bg19.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 150px;
   

}
.maning .p {
   text-align: center;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   color: rgb(34, 31, 31);
}
.maning .p2 {
   margin-top: 30px;
   text-align: center;
   font-size: 16px;
   color: rgb(34, 31, 31);
}
.maning .p3{
   margin-top: 40px;
   font-size: 14px;
   text-align: center;
}
.clickherer{
   text-decoration: underline;
   color: rgb(196, 160, 43);
}


/* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page */
/* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page */
/* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page */
/* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page */
/* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page *//* Index Page */
.holderer{
   width: 35%;
   margin: auto;
   height: px;
   background-color: rgba(250, 1, 1, 0.712);
   padding: 20px;
   border-radius: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-shadow: 0.5px 1px 4px 2px rgb(230, 226, 226);
}
.icn1{
   width: 100%;
   background-color: #109fff;
   height: 100px;
   /* background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   background-image: url(./icons/bg19.png); */
   margin-bottom: 30px;
   
}
.sub-holder1{
   width: 100%;
   height: 55px;
   background-color: rgba(94, 68, 68, 0);
   display: flex;
   justify-content: space-around;
   
}
.main .holderer .sub-holder1 input{
   height: 30px;
   width: 45%;
   text-align: center;
   margin-top: 10px;
   border-radius: 5px;
   background-color: #ffffff;
   border: none;
}
.main .holderer .sub-holder1 input:focus{
   background-color:  rgba(149, 149, 233, 0.404);
}
.sub-holder2{
   width: 100%;
   height: 55px;
   background-color: rgba(109, 109, 102, 0);
   margin-top: 10px;
   margin-bottom: 10px;
}
.sub-holder2 input{
   width: 95%;
   height: 35px;
   border-radius: 5px;
   margin-left: 2.5%;
   background-color: #ffffff;
   border: none;
   text-align: center;
   margin-top: 10px;
}
.sub-holder2 input:focus{
   background-color:  rgba(149, 149, 233, 0.404);

}
.sub-holder3{
   width: 100%;
   height: inherit;
   margin-top: 20px;
}
.sub-holder3 p{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 16px;
}
.sub-holder3 textarea{
   width: 95%;
   /* height: 60px; */
   padding: 10px;
   font-size: 11px;
   border-radius: 5px;
   border: none;
   background-color: #ffffff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-holder3 textarea:focus{
   background-color: rgba(149, 149, 233, 0.404);
   border: none;
   

}
.sub-holder3 textarea:active{
   border: none;

}
.sub-holder4{
   width: 100%;
   height: 60px;
   background-color: rgba(137, 43, 226, 0);
   margin-top: 40px;
   /* border: 4px solid burlywood;
   border-radius: 5px; */
}
.sub-holder4 a button{
   width: 100%;
   height:40px ;
   /* margin-left:25% ; */
   border-radius: 5px;
   border: none;
   background-color: rgba(83, 83, 228, 0.842);
   font-size: 15px;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-shadow: 0.5px 1px 4px 2px rgb(230, 226, 226);
   /* transition: 0.9s ease-in-out; */
}
.sub-holder4 a button:hover{
   transform: translateY(2px);
   transition: 0.2s ease-in-out;
   box-shadow: none;

}