*{
    margin: 0;
    padding: 0;

}
.header{
   background-color: rgb(233, 236, 238);
}

.header nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: inline-flex;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.151);
}
 .header a img{
    width: 110px;

 }
 .header nav ul{
    list-style-type: none;
    margin-left: 1px;
 }
 
 .header nav ul li{
    list-style: none;
    line-height: 60px;
    display: inline-block;
    margin-left: 30px;
 }
 .header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
 }
 .main{
    background-color: rgb(245, 246, 247);
    width: 100%;
    height: 575px;
 }
 .main .container{
    width: 80%;
    height: 400px;
    background-color: transparent;
    margin: auto;
    padding-top: 40px;
    
 }
 .main .container h1{
    text-align: center;
    padding: 70px 0 10px 0;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;

 }
 .main .container p{
    text-align: center;
    font-size: 17px;
    
 }
 .main .container .buts{
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin: auto;
   margin-top: 40px;
 }
 button{
   width: 40%;
   height: 49px;
   margin: 10px 10px 10px 12px;
   border: 2px  solid #0cf5c2ee;
   background-color: transparent;
   border-radius: 45px;
   box-shadow: 2px 3px 7px 4px rgba(0, 0, 0, 0.158);
}
button a{
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
   color: #32a88fee;
}
button:hover{
   background-color: #32a88fee;
   border: 1px solid #32a88fee;
   transition: 0.34s ease;     
}

.footer{
   background-color: #660707;
   width: 100%;
   height: 200px;
   display: inline-flex;
}
.footer p{
   color: #fff;
   font-weight: bold;
   font-size: 12px;
}
.footer .icons{
   width: 150px;
   height: 160px;
   background-color: transparent;
   margin-left: 10px ;
   padding: 5px 10px 5px ;
   margin-top: 10px;
}
.footer .icons ul li {
   list-style: none;
}
.footer .icons ul li svg:hover{
   box-shadow: 2px 3px 7px 4px rgba(0, 0, 0, 0.158);
}
.footer .services{
   background-color: transparent;
   width: 100px;
   height: 120px;
   margin-left: 10px ;
   padding: 5px 10px 5px ;
   margin-top: 10px;
}
.footer .services ul li {
   list-style: none;
   margin-top: 10px;

}
.footer .services ul li a{
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   text-transform: capitalize;
   color: #fff;   
   font-size: 12px;
}
.onebutton{
   transform: translateX(120px);
}
.main .container .onebut{
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin: auto;
   margin-top: 40px;
}
@media screen and (max-width: 600px) {
   .header a img{
      width: 100px;
   }
   .header nav ul li{
      list-style: none;
      line-height: 60px;
      display: inline-block;
      margin-left: 20px;
   }
   .header nav ul li a{
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
   }
   .main .container h1{
      text-align: center;
      padding: 80px 0 20px 0;
      font-size: 40px;
   }
   .main .container p{
      text-align: center;
      font-size: 15px;
      
   }
   .main .container .buts{
      background-color: transparent;
      width: 300px;
      height: 70px;
      margin: auto;
      margin-top: 40px;
    }
    button{
      width: 35%;
      height: 40px;
      margin: 10px 10px 10px 12px;
      border: 2px  solid #0cf5c2ee;
      background-color: transparent;
      border-radius: 20px;
      box-shadow: 2px 3px 7px 4px rgba(0, 0, 0, 0.158);
      transform: translateX(15px);
   }
   button a{
      text-decoration: none;
      font-size: 10px;
   }
   .main .container .onebut{
      background-color: transparent;
      width: 150px;
      height: 70px;
      margin: auto;
      margin-top: 40px;
   }
   .main .container .onebut .onebutton{
      transform:  none;
      width: 90%;
      height: 40px;
      margin: auto;
   }


   

   .main .container .holder{
      width: 100%;
      height: 450px;
   }
   .main .container .holder form fieldset{
      float: left;
      height: 60%;
      line-height: 60px ;
      border: none;
      margin-right: 10px;
      font-size: 12px;
   }
   .main .container .holder form input{
      width: 40%;
      height: 30px;
      margin-top: 22px;
      background-color: rgba(255, 255, 255, 0.158);
      border: 0.1px solid #29f53d88;
      border-radius: 5px;
      padding: 2px;
   
   }
}






.holder{
   width: 50%;
   height: 500px;
   margin: auto;
   border: 1px solid rgba(128, 128, 128, 0.671);
   box-shadow: 2px 1.5px 6px 2px rgba(128, 128, 128, 0.774);
   border-radius: 5px;
} 

.holder form{
   width: 90%;
   margin: auto;
   height: 90%;
   background-color: transparent;
}
.holder form p{
   text-align: center;
   font-size: 25px;
   color: #29f53c;
   padding-top: 20px;
}
.holder form fieldset{
   float: left;
   height: 60%;
   line-height: 60px ;
   border: none;
   margin-right: 10px;
}

.holder form input{
   width: 50%;
   height: 30px;
   margin-top: 22px;
   background-color: rgba(255, 255, 255, 0.158);
   border: 0.1px solid #29f53d88;
   border-radius: 5px;
   padding: 2px;

}
.holder form input:focus{
   outline: none;
   border:  1.5px solid #29f53de7;
   background-color: #29f53d4b;

}
.holder form button{
   width: 40%;
   height: 37px; 
   margin-top: 40px;
   margin-left: 30%;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.877);
   border: none;
   border-radius: 5px;
}
.holder form button:hover{
   background-color: rgba(255, 255, 255, 0.527);

}

