* {
   margin: 0;
   padding: 0;
}

.header {
   background-color: rgb(255, 255, 255);
   height: 60px;
   display: flex;
}

.header nav {
   width: calc(100% - 180px);
   height: 60px;
   background-color: #ffffffc4;
   display: inline-flex;
}

/*                         menu bar menu bar menu bar                               */


.header .btn_toggle_nav {
   width: 70px;
   height: 100%;
   background-color: #ffffff2a;
   background-image: url(./files/menu.png);
   background-repeat: no-repeat;
   background-size: 40%;
   background-position: center;
   cursor: pointer;
}
.header .btn_toggle_nav:hover{
   background-size: 42%;
   transition: all 0.1s ease-in-out;
   background-color: #24218b41 ;
}
 .header .side{
   width: 180px;
   height: 50px;
   background-color: #ffffffc4;
   margin-top: 5px;
} 
.header .side .top-btn{
   width: 150px;
   padding: none;
   margin-top: 5px;
   height: 40px;
   text-align: center;
   font-size: small;
   color: white;
   text-transform: capitalize;


}

.nav_sidebar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 0px;
   padding: 0 5px;
   height: calc(100vh - 60px);
   background-color: #24218bf6;
   z-index: 1000;
   transition: all 0.4s ease-in-out;
   visibility: hidden;
}

.nav_sidebar ul {
   padding-top: 15px;
   overflow: hidden;
   visibility: hidden;
}

.nav_sidebar ul li {
   line-height: 60px;
   list-style: none;
}

.nav_sidebar ul li a,
.nav_sidebar ul li span {
   display: block;
   height: 60px;
   padding: 0 10px;
   text-decoration: none;
   text-transform: uppercase;
   color: azure;
   font-size: 16px;
   white-space: nowrap;
   opacity: 0;
   transition: all 0.4s ease-in-out;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

                                                      /* menu bar*/
.header nav ul {
   list-style-type: none;
   margin-left: 1px;
}

.header nav ul li {
   list-style: none;
   line-height: 60px;
   display: inline-block;
   margin-left: 30px;
}

.header nav ul li a {
   text-transform: uppercase;
   text-decoration: none;
   font-size: 15px;
   color: #0800ff85;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.header nav ul li a:hover {
   color: #221f6efa;
   transition: 0.2s ease-in-out;
   font-size: 15.3px;

}

/* index */
.main {
   background-color: #ffffff;
   width: 100%;
   height: inherit;
}


.main .container {
   width: 100%;
   height: inherit;
   background-color: #ffffff;
   margin: auto;
}

.main .container .apointment {
   width: 100%;
   height: 100vh;

}

.main .container .index_top_cont {
   width: 100%;
   height: 90vh;
   background-image: linear-gradient(#050505d3, #050505d3), url(./files/people_run.jpg);
   background-position: center;
   background-size: 100%;
   background-color: rgb(255, 255, 255);
   background-repeat: no-repeat;
   display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main .container .index_top_cont .mainh1 {
   text-align: left;
   font-size: 32px;
   margin-left: 0;
   line-height: 500px;
   color: white;
}
.main .container .index_top_cont .h1{
   text-align: right;
   font-size: 62px;
   line-height: 200px;
   color: white;
   margin: auto;
}

.main .container .index_top_cont img {
   width: 500px;
   height: 500px;
   margin-left: 0;
}

/* .main .container .index_top_cont p {
   visibility: hidden;
   color: #ffffff;
   text-align: left;
   margin-left: 90px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.main .container .index_middle_cont {
   width: 100%;
   height: 110vh;
   background-color: rgb(255, 255, 255);
   display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main .container .index_middle_cont img {
   width: 600px;
   height: 500px;
   margin: 50px 10px 30px 50px;


}

.main .container .index_middle_cont .p {
   padding: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main .container .index_middle_cont .p .p1,
.main .container .index_middle_cont .p .p2,
.main .container .index_middle_cont .p .p3,
.main .container .index_middle_cont .p .p4 {
   color: rgb(65, 63, 61);
   border-bottom: 3px solid rgb(196, 116, 196);
   padding-bottom: 20px;
   margin-top: 30px;

}

.main .container .index_down_cont {
   width: 100%;
   height: 435px;
   background-color: #e6e3e3;
}


/* other */


.main .container h1 {
   text-align: center;
   padding: 10px 0 10px 0;
   font-size: 40px;
   font-weight: bolder;
   text-transform: uppercase;
   color: #ffffff;

}

.main .container p {
   text-align: center;
   font-size: 17px;
   color: #660707;
}

.main .container .buts {
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin: auto;
   margin-top: 40px;

}

button {
   width: 40%;
   height: 49px;
   margin: 10px 10px 10px 12px;
   border: none;
   background-image: linear-gradient(to right, #593bdf, #109fff);
   border-radius: 15px;
}

button a {
   text-decoration: none;
   font-size: 14px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
   background-image: linear-gradient(to right, #6745ff, #1aa3ff);
   transition: 0.5s ease;
}

/* footer footer */



.footer {
   background-color: rgb(245, 246, 247);
   width: 100%;
   height: inherit;
   border-top: 1.6px groove #e4e0e0a6;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .rec_info {
   width: 50%;
   height: 200px;
   background-color: transparent;
   float: left;
   overflow: hidden;
}

.footer .rec_info .content {
   width: 95%;
   height: 190px;
   background-color: rgba(184, 174, 174, 0);
   margin: auto;
   margin-top: 5px;
}

.footer .rec_info .content p1 {
   font-weight: bold;
   font-size: large;
}

.footer .rec_info .content p {
   font-size: small;
}


.footer .quick_links {
   width: 50%;
   height: 200px;
   background-color: transparent;
   float: right;
}

.footer .quick_links .content p {
   font-weight: bold;
   text-align: center;
   margin-bottom: 10px;
   text-transform: uppercase;
   font-size: small;
}

.footer .quick_links .content {
   width: 95%;
   height: 190px;
   background-color: transparent;
   margin: auto;
   margin-top: 5px;
}

.footer .quick_links .content ul {
   list-style: none;
}

.footer .quick_links .content ul li {
   text-align: center;
   margin-bottom: 10px;


}

.footer .quick_links .content ul li a {
   text-decoration: none;
   text-transform: capitalize;
   color: #976f6f;
}

.footer .icons_links {
   width: 100%;
   height: 300px;
   background-color: rgba(184, 174, 174, 0.082);
}

.footer .icons_links .content {
   width: 98%;
   height: 280px;
   margin: auto;
   background-color: rgba(184, 174, 174, 0);
}

.footer .icons_links .content p {
   font-size: small;
   text-transform: uppercase;
}

.footer .icons_links .content a {
   margin-left: 7px;
   text-decoration: none;
   color: #727971;
}

.footer .signature {
   width: 100%;
   height: 30px;
   background-color: #fff;
   text-transform: capitalize;
   border-top: 1.6px groove #e4e0e0a6;
}

.footer .signature p {
   text-align: left;
   font-size: 10px;
   margin-left: 30px;
   margin-top: 10px;


}







.main .container .onebut {
   background-color: transparent;
   width: 420px;
   height: 70px;
   margin-top: 20px;

}

/* the appointment styling   the appointment styling  the appointment styling */
/* the appointment styling   the appointment styling  the appointment styling */
/* the appointment styling   the appointment styling  the appointment styling */

.main .container .apointment {
   background-color: white;
   width: 100%;
   height: 100vh;
   display: flex;
}
.main .container .apointment img{
   width: 615px;
   height: 461px;
   margin-top: 20px;
}

.main .container .apointment .apoint {
   width: auto;
   height: inherit;
   background-color: white;
}

.main .container .apointment .apoint h3 {
   text-align: left;
   padding-left: 10px;
   font-size: 36px;
   color: #141313;
   margin-top: 70px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
}

.main .container .apointment .apoint p {

   padding: 10px;
   text-align: left;
}
.main .container .apointment .onebut .onebutton{
   color: white;
   font-weight: bold;
   text-transform: uppercase;
}

/* social tab social tab social tab social tab 

.main .container .social_cont .cont1,
.main .container .social_cont .cont2,
.main .container .social_cont .cont3,
.main .container .social_cont .cont4,
.main .container .social_cont .cont5,
.main .container .social_cont .cont6 {
   width: 97%;
   height: 50vh;
   margin: auto;
   background-color: rgba(0, 0, 255, 0.507);
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   display: flex;
}

/* styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form
styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form */
/* styling of the formstyling of the formstyling of the formstyling of the formstyling of the formstyling of the form*/

.holder {
   width: 90%;
   height: auto;
   margin: auto;
   border: none;
   border-radius: 5px;
   background-image: linear-gradient(#ffffffc4, #ffffffcb), url(./files/people_run.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;

}

.holder form {
   width: 500px;
   margin: auto;
   height: auto;
   background-color: #fffffffb;
   border-radius: 10px;
   box-shadow: 2px 2px 1.25px 3px rgba(0, 0, 0, 0.062);
   padding-left: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main .snd_rqst_container {
   width: 99.9%;
   height: 120vh;
   background-color: #ffffff;
   margin: auto;
   padding-top: 40px;
   border-top: 2px solid #24218bf6 ;

}

.main .snd_rqst_container .holder form .error {
   text-transform: capitalize;
   color: #f31717;
}


.holder form p {
   text-align: center;
   font-size: small;
   color: rgb(0, 0, 0);
   font-weight: bold;
   padding-top: 20px;
   text-transform: uppercase;
}

.holder form fieldset {
   float: left;
   height: 60%;
   line-height: 60px;
   border: none;
   margin-right: 10px;
   margin-left: 10px;
   font-size: small;

}

.holder form input {
   width: 50%;
   height: 30px;
   margin-top: 22px;
   background-color: rgba(255, 255, 255, 0.158);
   border: 0.05px solid #211f6e59;
   border-radius: 5px;
   padding: 2px;
   box-shadow: 1px 1px 1.25px 1px inset rgba(0, 0, 0, 0.158);
   font-size: small;

}

.holder form input:focus {
   outline: none;
   border: 2px solid #1aa3ff8c;
   background-color: #241deb34;

}

.holder form button {
   width: 34%;
   height: 35px;
   margin-top: 30px;
   text-transform: uppercase;
   background-image: linear-gradient(to right, #6745ff, #1aa3ff);
   border-radius: 5px;
   border: none;
   font-size: 12px;
   font-weight: bold;
   color: white;


}

.holder form button:hover {
   background-image: linear-gradient(to right, #593bdf, #109fff);

}

.main .container1 {
   width: 99.9%;
   height: 430vh;
   background-color: rgb(255, 255, 255);
   margin: auto;
   padding-top: 40px;
}

.main .container1 h1 {
   text-align: center;
   padding: 10px 0 10px 0;
   font-size: 20px;
   font-weight: bolder;
   text-transform: uppercase;
   color: #660707;
}

.main .container1 p {
   text-align: center;
   font-size: 17px;
   color: #660707;
}

.main .container1 .leftmain {
   width: 68%;
   height: inherit;
   float: left;
   background-color: rgb(255, 255, 255);

}

.main .leftmain .service1,
.main .leftmain .service2,
.main .leftmain .service3,
.main .leftmain .service4,
.main .leftmain .service5 {
   width: 95%;
   height: 80vh;
   background-color: #ffffff;
   margin: auto;
   padding: 5px;
   margin-bottom: 9px;
   border-bottom: 7px solid burlywood;
   box-shadow: 1px 1px 1.25px 1px rgba(0, 0, 0, 0.158);
}

.main .leftmain .service1 h2 {
   text-transform: capitalize;
}

.main .container1 .rightlinks {
   width: 28%;
   height: 200vh;
   float: right;
   background-color: rgb(255, 255, 255);
   padding: 8px;
   border-left: 3px solid gray;

}

.main .container1 .rightlinks h1 {
   font-size: 20px;

}

.main .container1 .rightlinks ul {
   background-color: transparent;
   width: 99%;
   margin: auto;
   list-style: none;

}

.main .container1 .rightlinks ul li {
   text-align: center;
   text-transform: uppercase;
   margin-top: 15px;
}

.main .container1 .rightlinks ul li a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: 19px;
}

.main .container1 .rightlinks ul li a:hover {
   color: #f3bf30;
}

.clickhere {
   color: #f3bf30;
   text-transform: capitalize;
}




   @media screen and (max-width: 600px) {


      .header nav ul li {
         list-style: none;
         line-height: 40px;
         display: inline-block;
         margin-left: 30px;
      }


      .header nav ul li a {
         text-transform: uppercase;
         text-decoration: none;
         font-size: 14px;
      }

      .main .container h1 {
         text-align: center;
         padding: 0px 0 20px 0;
         font-size: 30px;
      }

      .nav_sidebar {
         height: calc(100vh - 40px);

      }

      .main .container p {
         text-align: center;
         font-size: 15px;
      }

      .main .container .index_top_cont {
         background-size: 400%;

      }

      .main .container .index_top_cont img {
         width: 400px;
         height: 400px;
         margin-left: 0;
         margin-top: 90px;
      }

      .main .container .index_top_cont p {
         margin-left: 30px;
      }

      .main .container .index_middle_cont img {
         width: 90%;
         height: inherit;
         margin: 10px 10px 10px 20px;


      }

      .main .container .index_middle_cont {
         display: inline-block;
         height: inherit;

      }

      .main .container .index_middle_cont .p .p1,
      .main .container .index_middle_cont .p .p2,
      .main .container .index_middle_cont .p .p3,
      .main .container .index_middle_cont .p .p4 {
         padding-bottom: 10px;
         margin-top: 10px;
      }

      .main .container .buts {
         width: 340px;
         height: 70px;
      }

      button a {
         text-decoration: none;
         font-size: 10px;
      }

      .main .snd_rqst_container .onebut {
         background-color: transparent;
         width: 150px;
         height: 70px;
         margin-left: 50px;
         margin-top: 40px;
      }

      .onebutton {

         background-color: tan;
         margin-left: 30%;
      }

      .main .container .onebut {
         background-color: transparent;
         width: 420px;
         height: 70px;
         margin-top: 20px;

      }

      /* .main .container .index_top_cont .apoint .apointment .onebut{
      margin-left: calc(150px);
      background-color: #109fff;
      width: 100%;
      height: 300px;
   } */
      .main .snd_rqst_container .onebut .onebutton {
         transform: none;
         width: 90%;
         height: 40px;
         margin: auto;
      }

      .main .snd_rqst_container {
         padding: none;
      }

      .main .snd_rqst_container .holder {
         width: 85%;
         height: 450px;
         padding-left: none;
         background: #e4e4e4d3;
         margin: auto;
      }

      .main .snd_rqst_container .holder form fieldset {

         line-height: 60px;
         border: none;
         margin-right: 0px;
         font-size: 1px;
         visibility: hidden;

      }

      .main .snd_rqst_container .holder form {
         width: 99%;
         padding-left: 0;
      }

      .main .snd_rqst_container .holder form input {
         width: 80%;
         height: 30px;
         margin-top: 22px;
         border-radius: 0.1px;
         border: none;
         border-bottom: 1px solid #109fff;
         padding: 2px;
         box-shadow: none;
      }

      .main .snd_rqst_container .holder form input:focus {
         background-color: transparent;

      }

      .main .snd_rqst_container .holder form button {
         margin-left: 23%;
         border-radius: 40px;
      }

      .main .container1 {
         background-color: transparent;
         height: inherit;
         width: 90%;
         margin: auto;
         padding-top: 40px;

      }

      .main .container1 .leftmain {
         float: none;
         width: 100%;
         height: inherit;
      }

      .main .container1 .rightlinks {
         float: none;
         width: 95%;
         height: 400px;
         padding: none;
         border-left: none;
      }

      .main .container1 .rightlinks h1 {
         font-size: 21px;
         text-decoration: underline;
      }

      .footer .services {
         background-color: transparent;
         width: 90%;
         height: 30px;
         padding: 1px 10px 5px;
         margin: auto;
         margin-top: 30px;
      }

      .footer .services ul li {
         list-style: none;
         margin-top: 10px;
         display: inline-flex;
         background-color: transparent;
         border-left: 2px solid #660707;
         ;
         margin-left: 5px;


      }

      .footer .services ul li a {
         text-align: center;
         text-decoration: none;
         font-weight: bold;
         text-transform: capitalize;
         color: #fff;
         font-size: 13px;
         margin-left: 4px;

      }

      .main .container .index_top_cont h1 {
         color: rgb(255, 255, 255);
         font-size: 30px;
         line-height: 500px;

      }

      .main .container1 {
         background-color: rgb(255, 255, 255);
         height: inherit;
         padding-top: 10px;
         width: 99.999999%;
      }

      .main .container .apointment {
         display: inline;
      }

      .main .container .apointment img {
         width: 100%;
         height: 340px;
      }

      .main .container .apointment .apoint h3,
      .main .container .apointment .apoint p {

         text-align: center;
      }

      /* image cards image cards image cards
   image cards image cards image cards
   image cards image cards image cards
   image cards image cards image cards */
      /* .index_down_cont{ */
      /* width: calc(100%);
      overflow: hidden;
   }
   .index_down_cont .cards{
      width: 100%;
      padding: 20px;
      display: inline;
   }
   .index_down_cont .cards .card1,
.index_down_cont .cards .card2,
.index_down_cont .cards .card3,
.index_down_cont .cards .card4{
   margin-left: 10px;

} */






   }

   @media screen and (width: 768px) {
      .main .container .holder form input {
         width: 40%;
         height: 30px;
         margin-top: 22px;
         background-color: rgba(255, 255, 255, 0.158);

         border-radius: 5px;
         padding: 2px;

      }

      .main .container1 {
         background-color: transparent;
         height: inherit;
      }

      .main .container1 .rightlinks {
         background-color: whitesmoke;
         float: none;
         width: 100%;
         border-left: none;
      }

      .main .container1 .leftmain {
         background-color: transparent;
         float: none;
         width: 100%;
         height: 400px;

      }

      .footer .services {
         background-color: transparent;
         width: 349px;
         height: 30px;
         padding: 1px 10px 5px;
         margin: auto;
         margin-top: 30px;
      }

      .footer .services ul li {
         list-style: none;
         margin-top: 10px;
         display: inline-flex;
         background-color: transparent;
         margin-left: 1px;


      }

      .footer .services ul li a {
         text-align: center;
         text-decoration: none;
         font-weight: bold;
         text-transform: capitalize;
         color: #fff;
         font-size: 13px;
         margin-left: 4px;

      }



   }